<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuario</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <style>
    body {
      background-color: #183054;
    }

    .card {
      margin: 50px auto;
      width: 90%;
      max-width: 800px;
    }

    .form-control:focus {
      border-color: #ADD8E6;
      box-shadow: none;
    }
  </style>
</head>
<body>
  <div class="container">
    {% if r %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{r}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>        
		{% endif %}
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Registro de Usuarios</h2>
        
        <form action="/insertarusuarios" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="documento">Documento</label>
            <input type="text" class="form-control" id="documento" name="documento" placeholder="Documento">
          </div>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido">
          </div>
          <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Dirección">
          </div>
          <div class="form-group">
            <label for="correo-electronico">Correo electrónico</label>
            <input type="email" class="form-control" id="correo-electronico" name="correo_electronico" placeholder="Correo electrónico">
          </div>
          <div class="form-group">
            <label for="contrasena">Contraseña</label>
            <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña">
          </div>
          <div class="form-group">
            <label for="rol">Rol:</label>
            <select class="form-control" id="rol" name="rol">
              <option selected>Responsable</option>
              <option>Administrador</option>
            </select>
          </div>
          <div class="form-group">
            <label for="contrasena">Cantidad de registros permitidos</label>
            <input type="number" class="form-control" id="registros" name="registros" value="3">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary mr-2">Registrar</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='/mostrarlistarusuarios'">Regresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi4jq7W"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>         
