<!DOCTYPE html>
<html lang="es">
<head>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Reservas</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <style>
    body {
      background-color: #183054;
    }

    .card {
      margin: 50px auto;
      width: 90%;
      max-width: 800px;
    }

    .form-control:focus {
      border-color: #ADD8E6;
      box-shadow: none;
    }
  </style>
</head>
<body>
  <div class="container">
    {% if r %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{r}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>        
		{% endif %}
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Registro de Reservas</h2>   
        <a href="/mostrarlistarreservaciones" class="btn btn-primary btn-info">Regresar</a>
        <form action="/modalregistro" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="cancha">Cancha:</label>
            <select class="form-control" id="cancha" name="cancha" onchange="window.location.href='/horasenfechausuario/{{factual}}/'+this.value;">
              {% for x in can %}
              <option value="{{ x.id }}" {% if x.id == canchita %}selected{% endif %}>{{ x.nombre }} - {{ x.costo }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="row text-center">
            <div class="col-md-4">
              <button type="button" class="btn btn-primary" id="btn-left" onclick="location.href='/restarundiausuario/{{factual}}/'+document.getElementById('cancha').value;"><</button>
            </div>
            <div class="col-md-4 text-center">
              <h2 id="fecha">{{factual}}</h2>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-primary" id="btn-right" onclick="location.href='/sumarundiausuario/{{factual}}/'+document.getElementById('cancha').value;">></button>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Horario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>06:00 am</td>
                    {% if 6 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/06:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>07:00 am</td>
                    {% if 7 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/07:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>08:00 am</td>
                    {% if 8 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/08:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>09:00 am</td>
                    {% if 9 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/09:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>10:00 am</td>
                    {% if 10 in horas %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/10:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>11:00 am</td>
                    {% if 11 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/11:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>  
                    {% endif %}
                  </tr>
                  <tr>
                    <td>12:00 pm</td>
                    {% if 12 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/12:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>01:00 pm</td>
                    {% if 13 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/13:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>02:00 pm</td>
                    {% if 14 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/14:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>03:00 pm</td>
                    {% if 15 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/15:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>04:00 pm</td>
                    {% if 16 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/16:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>05:00 pm</td>
                    {% if 17 in horas %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/17:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>06:00 pm</td>
                    {% if 18 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/18:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>07:00 pm</td>
                    {% if 19 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/19:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>08:00 pm</td>
                    {% if 20 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/20:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>09:00 pm</td>
                    {% if 21 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/21:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>10:00 pm</td>
                    {% if 22 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/22:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>11:00 pm</td>
                    {% if 23 in horas  %}
                      <td><a href="" data-toggle="modal" data-target="#myModal"><font color="red">Ocupado</font></a></td>
                    {% else %}
                      <td><a onclick="location.href='/modalregistrousuario/23:00/'+document.getElementById('cancha').value+'/{{factual}}';" data-toggle='modal' data-target='#myModal'><font color="blue">Disponible</font></a></td>  <
                    {% endif %}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>      
        </form>
      </div>
    </div>
  </div>
  
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi4jq7W"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
   </body>
</html>         
